body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #5ff43a, #587af7),
    linear-gradient(to bottom, #f4f5f4, #161818);
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;

}

input[type="date"] {
    padding: 10px;
    margin: 10px;
}

button {
    padding: 20px 20px;
    background-color: #007bff;
    color: #f8f2f2;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

