body {
    font-family:Arial Black, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #8411e3, #23f8cd),
                         linear-gradient(to bottom, #f4f5f4, #161818);
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  p#message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }